In [1]:
import pandas as pd

In [2]:
import baseball

In [4]:
파일목록 = []
for 시즌 in [2013, 2014, 2015]:
    경로 = 'data/NC Dinos {}.xlsx'.format(시즌)
    파일목록.append(경로)
    
NC시즌 = baseball.from_files(파일목록)

In [5]:
NC시즌[0][:3]

      타석   안타  홈런
선수명
모창민  436  109  12
이호준  508  123  20
김종호  546  129   0

### 정렬과 순위

In [7]:
NC15 = NC시즌[2]

In [8]:
NC15.홈런.sort_values(ascending=False)

선수명
테임즈    47
나성범    28
이호준    24
손시헌    13
지석훈    11
조영훈     8
김태군     6
모창민     6
이종욱     5
김종호     4
박민우     3
최재원     2
조평호     1
박정준     0
용덕한     0
강민국     0
이창섭     0
김준완     0
강구성     0
김태진     0
Name: 홈런, dtype: int64

In [12]:
NC15.홈런.rank(ascending=False, method='max').sort_values()

선수명
테임즈     1.0
나성범     2.0
이호준     3.0
손시헌     4.0
지석훈     5.0
조영훈     6.0
모창민     8.0
김태군     8.0
이종욱     9.0
김종호    10.0
박민우    11.0
최재원    12.0
조평호    13.0
강민국    20.0
용덕한    20.0
박정준    20.0
이창섭    20.0
김준완    20.0
강구성    20.0
김태진    20.0
Name: 홈런, dtype: float64

## 기술통계

In [13]:
NC15.sum()

타석    5444
안타    1380
홈런     158
dtype: int64

In [14]:
NC15.sum(1)

선수명
테임즈    822
나성범    834
박민우    778
이호준    674
김종호    615
조영훈    189
손시헌    629
이종욱    627
모창민    307
지석훈    588
용덕한     61
최재원    125
박정준     32
김태군    587
조평호     31
이창섭      8
김준완     64
강구성      6
강민국      2
김태진      3
dtype: int64

In [15]:
안타목록 = []
for 프레임 in NC시즌:    
    안타목록.append(프레임.안타)

In [19]:
시즌안타 = pd.concat(안타목록, axis=1)

In [21]:
시즌안타.sum(1)

강구성       1.0
강민국       0.0
강진성       1.0
권희동      63.0
김동건       2.0
김성욱       5.0
김종찬       1.0
김종호     254.0
김준완      12.0
김태군     107.0
김태우       1.0
김태진       0.0
나성범     439.0
노진혁       3.0
마낙길       9.0
모창민     281.0
박명환*      0.0
박민우     293.0
박정준      49.0
손시헌     198.0
용덕한      12.0
이상호      31.0
이승호       0.0
이종욱     244.0
이창섭       0.0
이현곤      38.0
이호준     370.0
조영훈     171.0
조평호      29.0
지석훈     237.0
차화준      24.0
최재원      21.0
테임즈     332.0
허준        5.0
dtype: float64

### 상관관계와 공분산

In [31]:
stock_px = pd.read_csv('data/pydata-book/stock_px.csv', 
                       index_col=0)

In [36]:
returns = stock_px.pct_change()
returns[:10]

                         AAPL      MSFT       XOM       SPX
2003-01-02 00:00:00       NaN       NaN       NaN       NaN
2003-01-03 00:00:00  0.006757  0.001421  0.000684 -0.000484
2003-01-06 00:00:00  0.000000  0.017975  0.024624  0.022474
2003-01-07 00:00:00 -0.002685  0.019052 -0.033712 -0.006545
2003-01-08 00:00:00 -0.020188 -0.028272 -0.004145 -0.014086
2003-01-09 00:00:00  0.008242  0.029094  0.021159  0.019386
2003-01-10 00:00:00  0.002725  0.001824 -0.013927  0.000000
2003-01-13 00:00:00 -0.005435  0.008648 -0.004134 -0.001412
2003-01-14 00:00:00 -0.002732  0.010379  0.008993  0.005830
2003-01-15 00:00:00 -0.010959 -0.012506 -0.013713 -0.014426

MSFT와 AAPL의 상관도

In [40]:
returns.MSFT.corr(returns.AAPL)

0.44469678861732265

In [42]:
returns.corr()

          AAPL      MSFT       XOM       SPX
AAPL  1.000000  0.444697  0.385927  0.564474
MSFT  0.444697  1.000000  0.534691  0.714763
XOM   0.385927  0.534691  1.000000  0.764643
SPX   0.564474  0.714763  0.764643  1.000000

In [43]:
returns.cov()

          AAPL      MSFT       XOM       SPX
AAPL  0.000600  0.000193  0.000158  0.000186
MSFT  0.000193  0.000314  0.000158  0.000171
XOM   0.000158  0.000158  0.000279  0.000172
SPX   0.000186  0.000171  0.000172  0.000181