# 날짜시간

In [1]:
from datetime import datetime

In [2]:
지금 = datetime.now()
지금

datetime.datetime(2016, 12, 16, 13, 54, 15, 678271)

In [3]:
지금.isoformat()

'2016-12-16T13:54:15.678271'

In [4]:
'{}년 {}월 {}일 {}시 {}분 {}초'.format(
    지금.year, 지금.month, 지금.day, 
    지금.hour, 지금.minute, 지금.second
)

'2016년 12월 16일 13시 54분 15초'

요일

0 ~ 6: 월 ~ 일

In [5]:
지금.weekday()

4

In [9]:
def 요일추출(날짜시간):
    return list('월화수목금토일')[날짜시간.weekday()]

In [10]:
요일추출(지금)

'금'

datetime <--> 문자열

In [11]:
의문의날짜 = '10-01-20'

In [12]:
국제표준 = '%y-%m-%d'
datetime.strptime(의문의날짜, 국제표준)

datetime.datetime(2010, 1, 20, 0, 0)

In [13]:
미국날짜 = '%m-%d-%y'
datetime.strptime(의문의날짜, 미국날짜)

datetime.datetime(2020, 10, 1, 0, 0)

#### 연습

주어진 문자열을 datetime 객체로 생성 (표 10-2, p.397)

* yyyy: %Y
* mm: %m
* dd: %d

In [14]:
좋은날 = '2016년 12월 16일'

strptime: str --> python datetime

In [18]:
좋은날 = datetime.strptime(좋은날, '%Y년 %m월 %d일')

In [19]:
좋은날.year

2016

# 시계열

time-series. 시간의 흐름에 따라 기록된 자료

In [20]:
import pandas as pd

In [21]:
식당 = pd.read_excel('data/food_order.xlsx')

In [22]:
식당.date[:5]

0   2013-08-06
1   2013-08-06
2   2013-08-06
3   2013-08-06
4   2013-08-06
Name: date, dtype: datetime64[ns]

In [25]:
식당.date[0]

Timestamp('2013-08-06 00:00:00')

In [27]:
날짜 = 식당.date.map(
    lambda 날짜: '{0.year}년 {0.month}월 {0.day}일'.format(날짜))

In [28]:
날짜[:3]

0    2013년 8월 6일
1    2013년 8월 6일
2    2013년 8월 6일
Name: date, dtype: object

object --> datetime64

In [29]:
pd.to_datetime(날짜, format='%Y년 %m월 %d일')[:3]

0   2013-08-06
1   2013-08-06
2   2013-08-06
Name: date, dtype: datetime64[ns]

Timestamp = datetime + 알파

In [30]:
어느날 = '2015-10-21'

In [32]:
datetime.strptime(어느날, '%Y-%m-%d')

datetime.datetime(2015, 10, 21, 0, 0)

In [35]:
ts = pd.Timestamp(어느날)
ts

Timestamp('2015-10-21 00:00:00')

In [36]:
ts.year

2015

In [37]:
식당 = 식당.set_index('date')

In [39]:
식당.ix['2013-08-06']

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2013-08-06,dinner,grill & fry,훈제연어벤또(200개),F,213,0,0,0,0,0,-213,2013,8,6,1
2013-08-06,dinner,rice & soup 1,뚝배기 우거지 갈비탕,F,261,0,0,0,0,0,-261,2013,8,6,1
2013-08-06,lunch,noodle bar,판모밀정식,F,267,0,0,0,0,0,-267,2013,8,6,1
2013-08-06,breakfast,rice & soup 1,설렁탕정식,F,1,0,0,0,0,0,-1,2013,8,6,1
2013-08-06,lunch,rice & soup 1,A. 부대찌개정식,F,376,0,0,0,0,0,-376,2013,8,6,1

In [40]:
식당.ix['20130806']

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2013-08-06,dinner,grill & fry,훈제연어벤또(200개),F,213,0,0,0,0,0,-213,2013,8,6,1
2013-08-06,dinner,rice & soup 1,뚝배기 우거지 갈비탕,F,261,0,0,0,0,0,-261,2013,8,6,1
2013-08-06,lunch,noodle bar,판모밀정식,F,267,0,0,0,0,0,-267,2013,8,6,1
2013-08-06,breakfast,rice & soup 1,설렁탕정식,F,1,0,0,0,0,0,-1,2013,8,6,1
2013-08-06,lunch,rice & soup 1,A. 부대찌개정식,F,376,0,0,0,0,0,-376,2013,8,6,1

In [42]:
식당.ix['2013-08'][:10]

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2013-08-06,dinner,grill & fry,훈제연어벤또(200개),F,213,0,0,0,0,0,-213,2013,8,6,1
2013-08-06,dinner,rice & soup 1,뚝배기 우거지 갈비탕,F,261,0,0,0,0,0,-261,2013,8,6,1
2013-08-06,lunch,noodle bar,판모밀정식,F,267,0,0,0,0,0,-267,2013,8,6,1
2013-08-06,breakfast,rice & soup 1,설렁탕정식,F,1,0,0,0,0,0,-1,2013,8,6,1
2013-08-06,lunch,rice & soup 1,A. 부대찌개정식,F,376,0,0,0,0,0,-376,2013,8,6,1
2013-08-12,dinner,noodle bar,차슈라멘,F,179,0,0,0,0,0,-179,2013,8,12,0
2013-08-12,breakfast,rice & soup 1,뚝배기순대국,F,26,0,0,0,0,0,-26,2013,8,12,0
2013-08-12,lunch,rice & soup 1,A:누룽지장각백숙,F,504,0,0,0,0,0,-504,2013,8,12,0
2013-08-12,lunch,noodle bar,유니자장면,F,167,0,0,0,0,0,-167,2013,8,12,0
2013-08-12,dinner,rice & soup 1,김치날치알밥,F,216,0,0,0,0,0,-216,2013,8,12,0

In [43]:
식당.ix['2013'][:10]

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2013-08-06,dinner,grill & fry,훈제연어벤또(200개),F,213,0,0,0,0,0,-213,2013,8,6,1
2013-08-06,dinner,rice & soup 1,뚝배기 우거지 갈비탕,F,261,0,0,0,0,0,-261,2013,8,6,1
2013-08-06,lunch,noodle bar,판모밀정식,F,267,0,0,0,0,0,-267,2013,8,6,1
2013-08-06,breakfast,rice & soup 1,설렁탕정식,F,1,0,0,0,0,0,-1,2013,8,6,1
2013-08-06,lunch,rice & soup 1,A. 부대찌개정식,F,376,0,0,0,0,0,-376,2013,8,6,1
2013-08-12,dinner,noodle bar,차슈라멘,F,179,0,0,0,0,0,-179,2013,8,12,0
2013-08-12,breakfast,rice & soup 1,뚝배기순대국,F,26,0,0,0,0,0,-26,2013,8,12,0
2013-08-12,lunch,rice & soup 1,A:누룽지장각백숙,F,504,0,0,0,0,0,-504,2013,8,12,0
2013-08-12,lunch,noodle bar,유니자장면,F,167,0,0,0,0,0,-167,2013,8,12,0
2013-08-12,dinner,rice & soup 1,김치날치알밥,F,216,0,0,0,0,0,-216,2013,8,12,0

특정 범위 선택

In [44]:
식당['2015-01-13':'2015-03-03'][:10]

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2015-01-13,dinner,grill & fry,돈가스카레라이스,F,224,200,30,0,0,0,6,2015,1,13,1
2015-01-13,dinner,burger&pizza,불닭볶음밥&자몽샐러드,F,111,150,20,0,0,0,59,2015,1,13,1
2015-01-13,lunch,noodle bar,베트남양지쌀국수,F,233,250,40,0,0,0,57,2015,1,13,1
2015-01-13,lunch,take out,훈제오리&단호박샐러드,F,246,260,0,0,0,0,14,2015,1,13,1
2015-01-13,breakfast,take out,샌드위치콤보&음료&과일,F,36,38,20,0,0,0,22,2015,1,13,1
2015-01-13,lunch,after school,치즈라볶이&스팸김마리,F,154,140,20,0,0,0,6,2015,1,13,1
2015-01-13,dinner,noodle bar,기장조밥&닭가슴살채소볶음,F,80,80,10,0,0,0,10,2015,1,13,1
2015-01-13,dinner,take out,추억의도시락,F,113,80,10,0,0,0,-23,2015,1,13,1
2015-01-13,breakfast,rice & soup 1,순두부맑은국&돼지고기야채볶음,F,53,60,20,0,0,0,27,2015,1,13,1
2015-01-13,lunch,burger&pizza,치즈햄버거스테이크,F,161,200,30,0,0,0,69,2015,1,13,1

In [45]:
식당.truncate(after='2015')[-3:]

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2014-12-31,dinner,after school,얼큰김치라면&계란말이,F,2,80,30,0,0,0,108,2014,12,31,2
2014-12-31,breakfast,rice & soup 1,북어국&떡갈비엿장구이,F,38,30,20,0,0,0,12,2014,12,31,2
2014-12-31,dinner,rice & soup 1,설렁탕,F,28,220,60,0,0,0,252,2014,12,31,2

In [46]:
식당.truncate(before='2015')[:3]

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2015-01-02,dinner,after school,참깨라면&볶음김치김밥,F,39,80,10,0,0,0,51,2015,1,2,4
2015-01-02,lunch,after school,오징어김치볶음밥&계란후라이,F,158,170,40,0,0,0,52,2015,1,2,4
2015-01-02,breakfast,rice & soup 1,감자호박국&소고기야채볶음,F,35,20,10,0,0,0,-5,2015,1,2,4

## 맞춤형 날짜시간 범위

### 날짜범위 생성

In [47]:
list(range(2013, 2020))

[2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [51]:
dates = pd.date_range('2016-02-20', '2016-03-10')

In [ ]:
ts = pd.Series(
    range(1, 21), index=dates)

In [53]:
ts['2016-02-25':'2016-03-05']

2016-02-25     6
2016-02-26     7
2016-02-27     8
2016-02-28     9
2016-02-29    10
2016-03-01    11
2016-03-02    12
2016-03-03    13
2016-03-04    14
2016-03-05    15
Freq: D, dtype: int32

특정 개수만큼 날짜 생성

In [54]:
pd.date_range('2016-12-16', periods=20)

DatetimeIndex(['2016-12-16', '2016-12-17', '2016-12-18', '2016-12-19',
               '2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23',
               '2016-12-24', '2016-12-25', '2016-12-26', '2016-12-27',
               '2016-12-28', '2016-12-29', '2016-12-30', '2016-12-31',
               '2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range(end='2016-12-16', periods=20)

DatetimeIndex(['2016-11-27', '2016-11-28', '2016-11-29', '2016-11-30',
               '2016-12-01', '2016-12-02', '2016-12-03', '2016-12-04',
               '2016-12-05', '2016-12-06', '2016-12-07', '2016-12-08',
               '2016-12-09', '2016-12-10', '2016-12-11', '2016-12-12',
               '2016-12-13', '2016-12-14', '2016-12-15', '2016-12-16'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range('2016-08-15 09:43:52', periods=10)

DatetimeIndex(['2016-08-15 09:43:52', '2016-08-16 09:43:52',
               '2016-08-17 09:43:52', '2016-08-18 09:43:52',
               '2016-08-19 09:43:52', '2016-08-20 09:43:52',
               '2016-08-21 09:43:52', '2016-08-22 09:43:52',
               '2016-08-23 09:43:52', '2016-08-24 09:43:52'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range('2016-08-15 09:43:52', periods=10, normalize=True)

DatetimeIndex(['2016-08-15', '2016-08-16', '2016-08-17', '2016-08-18',
               '2016-08-19', '2016-08-20', '2016-08-21', '2016-08-22',
               '2016-08-23', '2016-08-24'],
              dtype='datetime64[ns]', freq='D')

### 빈도

In [59]:
pd.date_range('2016-01-01', '2017-01-01', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

한 시간 삽십분 마다

In [60]:
pd.date_range(
    '2016-08-15 09:00', '2016-08-15 18:00', freq='1h30min')

DatetimeIndex(['2016-08-15 09:00:00', '2016-08-15 10:30:00',
               '2016-08-15 12:00:00', '2016-08-15 13:30:00',
               '2016-08-15 15:00:00', '2016-08-15 16:30:00',
               '2016-08-15 18:00:00'],
              dtype='datetime64[ns]', freq='90T')

매주 금요일 마다

In [63]:
날짜 = 식당.reset_index().date

In [68]:
날짜.iloc[-1]

Timestamp('2015-07-27 00:00:00')

In [69]:
불금 = pd.date_range('2013-08-06', '2015-07-27', freq='W-FRI')

In [73]:
식당.ix[불금].dropna(how='all')[:5]

,dine_type,corner,menu,is_sold_out,use_count,pred_count,additional,good,ok,bad,diff_use_pred,year,month,day,wday
date,,,,,,,,,,,,,,,
2013-08-23,dinner,grill & fry,추억의도시락,F,211.0,0.0,0.0,0.0,0.0,0.0,-211.0,2013.0,8.0,23.0,4.0
2013-08-23,breakfast,rice & soup 1,참치김치찌개,F,43.0,0.0,0.0,0.0,0.0,0.0,-43.0,2013.0,8.0,23.0,4.0
2013-08-23,dinner,after school,라면+롤밥 &고급음료,F,149.0,0.0,0.0,0.0,0.0,0.0,-149.0,2013.0,8.0,23.0,4.0
2013-08-23,lunch,after school,라면+롤밥 &고급음료,F,192.0,0.0,0.0,0.0,0.0,0.0,-192.0,2013.0,8.0,23.0,4.0
2013-08-23,lunch,burger&pizza,머쉬룸버거,F,268.0,0.0,0.0,0.0,0.0,0.0,-268.0,2013.0,8.0,23.0,4.0