In [2]:
import pandas as pd

#### 연습

1. 날씨 데이터프레임 생성해 변수 '날씨'에 저장
1. date, location, avgTemp, weather 열만 선택해 변수 '날씨' 갱신
1. location 열에 담긴 값의 도수 측정
1. location 열의 값에 따라, 지역별로 데이터프레임 선택. 예를 들어, 지역이 서울인 경우 변수 '서울날씨'에 저장
1. 각 데이터프레임의 10번째부터 20번째 행까지만 출력

In [1]:
날씨데이터 = 'data/weather.xlsx'

In [3]:
날씨 = pd.read_excel(날씨데이터)

In [5]:
날씨 = 날씨[['date', 'location', 'avgTemp', 'weather']]

In [6]:
날씨.location.value_counts()

seoul    730
suwon    730
Name: location, dtype: int64

In [10]:
서울날씨 = 날씨[날씨.location == 'seoul']

In [11]:
수원날씨 = 날씨[날씨.location == 'suwon']
수원날씨[:3]

          date location  avgTemp   weather
153 2013-08-01    suwon     27.8   구름많음/안개
154 2013-08-02    suwon     28.2   흐림/안개/비
155 2013-08-03    suwon     28.6  구름많음/소나기

In [12]:
서울날씨.avgTemp.mean()

13.365616438356161

In [13]:
수원날씨.avgTemp.mean()

13.167123287671226

#### 연습

NC Dinos 야구팀의 3년 간 타자 기록을 데이터프레임으로 생성하고, 다음을 수행

1. 선수명 열을 색인으로 설정
1. 타석, 안타, 홈런 열만 선택
1. 연도 정보를 '시즌' 열로 추가
1. 각 시즌별 선수별 타율 산출
1. 타율 상위 3명 기록 선택
1. 홈런이 10개 이상이면서, 타율이 0.25 이상인 선수 기록 선택
1. 지난 3년 간 각 선수의 안타와 홈런 합계 산출
1. 각 선수들의 3년간 누적 타율 산출
1. 타율 값을 소수점 3자리까지만 출력

In [15]:
NC시즌 = []
for 시즌 in [2013, 2014, 2015]:
    경로 = 'data/NC Dinos {}.xlsx'.format(시즌)
    프레임 = pd.read_excel(경로)
    프레임 = 프레임.set_index('선수명')
    프레임 = 프레임[['타석','안타', '홈런']]
    프레임['시즌'] = 시즌
    NC시즌.append(프레임)

In [16]:
NC시즌[0][:3]

      타석   안타  홈런    시즌
선수명
모창민  436  109  12  2013
이호준  508  123  20  2013
김종호  546  129   0  2013

In [22]:
def 타율산출(기록):
    return (기록.안타 + 기록.홈런) / 기록.타석

In [20]:
시즌타율 = []
for 프레임 in NC시즌:
    타율 = 프레임.apply(타율산출, axis=1)
    시즌타율.append(타율)

In [23]:
for 타율 in 시즌타율:
    print(타율.sort_values(ascending=False)[:3])

선수명
강진성    0.333333
마낙길    0.290323
이호준    0.281496
dtype: float64
선수명
김준완    0.400000
테임즈    0.367704
나성범    0.348881
dtype: float64
선수명
조평호    0.409091
테임즈    0.381513
나성범    0.340836
dtype: float64

In [26]:
for 프레임, 타율 in zip(NC시즌, 시즌타율):
    선택 = 프레임[(프레임.홈런 >= 10) & (타율 >= 0.25)]
    print(선택)

      타석   안타  홈런    시즌
선수명
모창민  436  109  12  2013
이호준  508  123  20  2013
      타석   안타  홈런    시즌
선수명
테임즈  514  152  37  2014
나성범  536  157  30  2014
이호준  500  115  23  2014
모창민  468  110  16  2014
      타석   안타  홈런    시즌
선수명
테임즈  595  180  47  2015
나성범  622  184  28  2015
이호준  518  132  24  2015
지석훈  466  111  11  2015

In [49]:
누적안타 = NC시즌[0].안타
for 프레임 in NC시즌[1:]:
    누적안타 = 누적안타.add(프레임.안타, fill_value=0)

누적안타.sort_values(ascending=False)[:5]

선수명
나성범    439.0
이호준    370.0
테임즈    332.0
박민우    293.0
모창민    281.0
Name: 안타, dtype: float64

In [50]:
누적홈런 = NC시즌[0].홈런
for 프레임 in NC시즌[1:]:
    누적홈런 = 누적홈런.add(프레임.홈런, fill_value=0)
    
누적홈런.sort_values(ascending=False)[:5]

선수명
테임즈    84.0
나성범    72.0
이호준    67.0
모창민    34.0
지석훈    20.0
Name: 홈런, dtype: float64

In [51]:
누적타석 = NC시즌[0].타석
for 프레임 in NC시즌[1:]:
    누적타석 = 누적타석.add(프레임.타석, fill_value=0)
    
누적타석.sort_values(ascending=False)[:3]

선수명
나성범    1616.0
이호준    1526.0
박민우    1156.0
Name: 타석, dtype: float64

In [52]:
누적타율 = (누적안타 + 누적홈런) / 누적타석

In [53]:
누적타율.sort_values(ascending=False)[:3]

선수명
테임즈    0.375113
강진성    0.333333
나성범    0.316213
dtype: float64

In [54]:
def format_float(n):
    return '{:.3f}'.format(n)

In [55]:
누적타율.map(format_float)

선수명
강구성     0.143
강민국     0.000
강진성     0.333
권희동     0.278
김동건     0.176
김성욱     0.200
김종찬     0.143
김종호     0.250
김준완     0.203
김태군     0.238
김태우     0.200
김태진     0.000
나성범     0.316
노진혁     0.250
마낙길     0.273
모창민     0.276
박명환*    0.000
박민우     0.257
박정준     0.242
손시헌     0.249
용덕한     0.245
이상호     0.225
이승호     0.000
이종욱     0.255
이창섭     0.000
이현곤     0.236
이호준     0.286
조영훈     0.274
조평호     0.291
지석훈     0.242
차화준     0.207
최재원     0.221
테임즈     0.375
허준      0.139
dtype: object