In [5]:
import pandas as pd

In [6]:
날씨데이터경로 = 'data/weather.xlsx'

In [9]:
날씨 = pd.read_excel(날씨데이터경로)

In [13]:
날씨 =날씨[['date', 'location', 'avgTemp', 'weather']]

In [14]:
날씨[:3]

        date location  avgTemp  weather
0 2013-08-01    seoul     28.0     구름많음
1 2013-08-02    seoul     27.4  흐림/안개/비
2 2013-08-03    seoul     28.9   흐림/소나기

In [26]:
날씨.location.value_counts()

seoul    730
suwon    730
Name: location, dtype: int64

In [27]:
서울인가 = 날씨.location == 'seoul'

In [28]:
서울인가[:3]

0    True
1    True
2    True
Name: location, dtype: bool

In [33]:
서울날씨 = 날씨[서울인가]

In [34]:
수원날씨 = 날씨[날씨.location == 'suwon']

In [35]:
서울날씨[10:21]

         date location  avgTemp    weather
10 2013-08-11    seoul     28.7    구름많음/안개
11 2013-08-12    seoul     29.3       구름많음
12 2013-08-13    seoul     29.0       구름조금
13 2013-08-14    seoul     28.6       구름많음
14 2013-08-15    seoul     28.7   구름많음/소나기
15 2013-08-16    seoul     28.7   구름많음/소나기
16 2013-08-17    seoul     28.7       구름많음
17 2013-08-18    seoul     28.3    흐림/안개/비
18 2013-08-19    seoul     28.2  구름조금/안개/비
19 2013-08-20    seoul     27.4       구름조금
20 2013-08-21    seoul     28.8       구름조금

In [36]:
수원날씨[10:21]

          date location  avgTemp    weather
163 2013-08-11    suwon     28.7    구름많음/안개
164 2013-08-12    suwon     28.8    구름조금/안개
165 2013-08-13    suwon     28.6       구름조금
166 2013-08-14    suwon     28.3       구름조금
167 2013-08-15    suwon     28.5   구름조금/소나기
168 2013-08-16    suwon     28.6   구름많음/소나기
169 2013-08-17    suwon     28.2    구름많음/안개
170 2013-08-18    suwon     28.6      흐림/안개
171 2013-08-19    suwon     27.7  구름많음/안개/비
172 2013-08-20    suwon     26.8    구름조금/안개
173 2013-08-21    suwon     28.8       구름조금

In [37]:
서울날씨.avgTemp.mean()

13.365616438356161

In [38]:
수원날씨.avgTemp.mean()

13.167123287671226

1. 선수명 열 색인
1. 타석, 안타, 홈런 만 선택
1. 연도 정보를 '시즌'열로 추가
1. 각 시즌별 선수별 타율 산출
1. 지난 3년간 각 선수의 안타/홈런 합계 산출
1. 각 선수들의 3년간 누적 타율 산출
1. 타율 값을 소수점 3자리까지만 출력

In [161]:
NCs = []

In [162]:
for 시즌 in[2013,2014,2015]:
    경로 = 'data/NC Dinos {}.xlsx'.format(시즌)
    print(경로)
    NC = pd.read_excel(경로)
    NC['시즌'] = 시즌
    NCs.append(NC)

data/NC Dinos 2013.xlsx
data/NC Dinos 2014.xlsx
data/NC Dinos 2015.xlsx

In [163]:
기록 = pd.concat(NCs)

In [164]:
기록[:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55,2013

In [170]:
기록 = 기록.set_index('선수명')

In [171]:
기록[['타석', '안타', '홈런']][:5]

      타석   안타  홈런
선수명
모창민  436  109  12
이호준  508  123  20
김종호  546  129   0
나성범  458   98  14
조영훈  426  107   6

In [190]:
시즌별기록 = 기록.groupby('시즌')
시즌별기록

In [191]:
def 타율산출(기록):
    기록['타율'] = (기록.안타 + 기록.홈런) / 기록.타석
    return 기록

In [192]:
시즌별기록 = 시즌별기록.apply(타율산출)
시즌별기록[:10]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
선수명,,,,,,,,,,,,,,,,,,,
모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.277523,0.339,0.443,0.782,0.353,2.31,2013
이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.281496,0.362,0.475,0.837,0.373,1.85,2013
김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.236264,0.376,0.333,0.709,0.339,1.55,2013
나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.244541,0.319,0.416,0.735,0.329,1.50,2013
조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.265258,0.350,0.413,0.763,0.348,0.83,2013
이현곤,NC,91,161,139,38,0,10,9,16,14,2,0.304,0.236025,0.361,0.324,0.685,0.327,0.52,2013
이상호,NC,102,138,125,31,0,26,13,9,21,24,0.298,0.224638,0.299,0.320,0.619,0.289,0.16,2013
강진성,NC,3,3,2,1,0,1,0,1,0,0,0.500,0.333333,0.667,1.000,1.667,0.671,0.10,2013
조평호,NC,26,86,79,21,2,12,7,6,24,1,0.358,0.267442,0.318,0.418,0.736,0.329,0.09,2013
박민우,NC,32,48,42,11,0,10,6,5,7,9,0.306,0.229167,0.333,0.286,0.619,0.296,0.07,2013

In [193]:
def 상위출력(프레임):
    print(프레임[(프레임.안타 >= 10) & (프레임.타율 >= 0.25)])

In [194]:
시즌별기록 = 시즌별기록.groupby('시즌')
시즌별기록.apply(상위출력)

     팀명   경기   타석   타수   안타  홈런  득점  타점  볼넷   삼진  도루  BABIP        타율    출루율  \
선수명
모창민  NC  108  436  395  109  12  57  51  37   68  16  0.307  0.277523  0.339
이호준  NC  126  508  442  123  20  46  87  60  109   2  0.324  0.281496  0.362
조영훈  NC  120  426  380  107   6  38  39  39   56   4  0.316  0.265258  0.350
조평호  NC   26   86   79   21   2  12   7   6   24   1  0.358  0.267442  0.318

       장타율    OPS   wOBA   WAR    시즌
선수명
모창민  0.443  0.782  0.353  2.31  2013
이호준  0.475  0.837  0.373  1.85  2013
조영훈  0.413  0.763  0.348  0.83  2013
조평호  0.418  0.736  0.329  0.09  2013
     팀명   경기   타석   타수   안타  홈런  득점  타점  볼넷   삼진  도루  BABIP        타율    출루율  \
선수명
모창민  NC  108  436  395  109  12  57  51  37   68  16  0.307  0.277523  0.339
이호준  NC  126  508  442  123  20  46  87  60  109   2  0.324  0.281496  0.362
조영훈  NC  120  426  380  107   6  38  39  39   56   4  0.316  0.265258  0.350
조평호  NC   26   86   79   21   2  12   7   6   24   1  0.358  0.267442  0.318

       장타율    OPS   wOBA   WAR    시즌
선수명
모창민  0.443  0.782  0.353  2.31  2013
이호준  0.475  0.837  0.373  1.85  2013
조영훈  0.413  0.763  0.348  0.83  2013
조평호  0.418  0.736  0.329  0.09  2013
     팀명   경기   타석   타수   안타  홈런  득점   타점  볼넷   삼진  도루  BABIP        타율    출루율  \
선수명
테임즈  NC  125  514  443  152  37  95  121  58   99  11  0.367  0.367704  0.422
나성범  NC  123  536  477  157  30  88  101  43  128  14  0.397  0.348881  0.400
박민우  NC  118  491  416  124   1  87   40  56   89  50  0.373  0.254582  0.392
손시헌  NC   97  361  307   90   5  39   39  34   53   2  0.331  0.263158  0.368
지석훈  NC  114  238  212   58   6  26   34  16   46   1  0.323  0.268908  0.340
이호준  NC  122  500  424  115  23  59   78  67  104   2  0.305  0.276000  0.371
권희동  NC  101  252  221   63   7  39   36  25   43   6  0.324  0.277778  0.363
모창민  NC  122  468  419  110  16  62   72  37   82  14  0.289  0.269231  0.320
이종욱  NC  124  495  438  126   6  73   79  40   60  15  0.313  0.266667  0.343
조영훈  NC   92  124  111   29   6  15   22  10   26   1  0.288  0.282258  0.325

       장타율    OPS   wOBA   WAR    시즌
선수명
테임즈  0.688   1.11  0.456  6.36  2014
나성범  0.597  0.997  0.424  5.94  2014
박민우  0.399  0.791  0.365  2.73  2014
손시헌  0.414  0.782  0.349  1.52  2014
지석훈  0.462  0.802  0.352  0.97  2014
이호준  0.481  0.852  0.369  0.88  2014
권희동  0.443  0.806  0.353  0.62  2014
모창민  0.413  0.733  0.319  0.17  2014
이종욱  0.411  0.754  0.332  0.13  2014
조영훈  0.459  0.784  0.337 -0.02  2014
     팀명   경기   타석   타수   안타  홈런   득점   타점   볼넷   삼진  도루  BABIP        타율  \
선수명
테임즈  NC  142  595  472  180  47  130  140  103   91  40   0.39  0.381513
나성범  NC  144  622  564  184  28  112  135   33  127  23  0.374  0.340836
박민우  NC  141  617  520  158   3  111   47   73  108  46  0.373  0.260940
이호준  NC  131  518  449  132  24   48  110   61  102   0  0.332  0.301158
김종호  NC  133  486  424  125   4   90   36   44   65  41  0.338  0.265432
조영훈  NC  103  146  124   35   8   20   35   19   36   3  0.329  0.294521
모창민  NC  103  239  214   62   6   23   35   18   52   5  0.352  0.284519
지석훈  NC  137  466  415  111  11   53   46   23   85   4  0.311  0.261803

       출루율    장타율    OPS   wOBA    WAR    시즌
선수명
테임즈  0.497   0.79  1.287  0.520  11.73  2015
나성범  0.373  0.553  0.926  0.390   4.46  2015
박민우  0.399  0.404  0.803  0.364   3.52  2015
이호준  0.381   0.51  0.891  0.381   2.19  2015
김종호  0.364  0.394  0.758  0.340   1.03  2015
조영훈  0.372   0.54  0.912  0.389   1.00  2015
모창민  0.340  0.439  0.779  0.340   0.76  2015
지석훈  0.328  0.383  0.711  0.317   0.51  2015

Empty DataFrame
Columns: []
Index: []

In [210]:
누적기록 = 기록[[ '안타', '홈런', '타석']].groupby(기록.index).sum()
누적기록

       안타  홈런    타석
선수명
강구성     1   0     7
강민국     0   0     5
강진성     1   0     3
권희동    63   7   252
김동건     2   1    17
김성욱     5   1    30
김종찬     1   0     7
김종호   254   4  1032
김준완    12   0    59
김태군   107   6   474
김태우     1   0     5
김태진     0   0     3
나성범   439  72  1616
노진혁     3   1    16
마낙길     9   0    33
모창민   281  34  1143
박명환*    0   0     1
박민우   293   4  1156
박정준    49   4   219
손시헌   198  18   869
용덕한    12   0    49
이상호    31   0   138
이승호     0   0     1
이종욱   244  11   999
이창섭     0   0    13
이현곤    38   0   161
이호준   370  67  1526
조영훈   171  20   696
조평호    29   3   110
지석훈   237  20  1060
차화준    24   1   121
최재원    21   2   104
테임즈   332  84  1109
허준      5   0    36

In [211]:
누적타율 = (누적기록.안타 + 누적기록.홈런) / 누적기록.타석

In [213]:
누적타율.sort_values(ascending=False)

선수명
테임즈     0.375113
강진성     0.333333
나성범     0.316213
조평호     0.290909
이호준     0.286370
권희동     0.277778
모창민     0.275591
조영훈     0.274425
마낙길     0.272727
박민우     0.256920
이종욱     0.255255
노진혁     0.250000
김종호     0.250000
손시헌     0.248562
용덕한     0.244898
지석훈     0.242453
박정준     0.242009
김태군     0.238397
이현곤     0.236025
이상호     0.224638
최재원     0.221154
차화준     0.206612
김준완     0.203390
김성욱     0.200000
김태우     0.200000
김동건     0.176471
강구성     0.142857
김종찬     0.142857
허준      0.138889
김태진     0.000000
이승호     0.000000
이창섭     0.000000
강민국     0.000000
박명환*    0.000000
dtype: float64