In [2]:
import pandas as pd
import json

In [3]:
db = json.load(open('data/pydata-book/foods-2011-10-03.json'))

In [10]:
info = pd.DataFrame(db, columns = ['description', 'group', 'id', 'manufacturer'])
info[:3]

       description                   group    id manufacturer
0  Cheese, caraway  Dairy and Egg Products  1008
1  Cheese, cheddar  Dairy and Egg Products  1009
2     Cheese, edam  Dairy and Egg Products  1018

In [12]:
info.group.value_counts()

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Legumes and Legume Products          365
Fast Foods                           365
Lamb, Veal, and Game Products        345
Sweets                               341
Fruits and Fruit Juices              328
Pork Products                        328
Beverages                            278
Soups, Sauces, and Gravies           275
Finfish and Shellfish Products       255
Baby Foods                           209
Cereal Grains and Pasta              183
Ethnic Foods                         165
Snacks                               162
Nut and Seed Products                128
Poultry Products                     116
Sausages and Luncheon Meats          111
Dairy and Egg Products               107
Fats and Oils                         97
Meals, Entrees, and Sidedishes        57
Restaurant Foods                      51
Spices and Herbs                      41
Name: group, dtype: int64

각 식품의 영양소 정보를 데이터프레임으로 만들고, 모두 합치기

In [19]:
frames = []

for rec in db:
    # 각 식품의 영양소 정보를 데이터프레임으로 생성
    fnuts = pd.DataFrame(rec['nutrients'])
    # 각 식품의 ID를 열로 추가
    fnuts['id'] = rec['id']
    frames.append(fnuts)
    
nutrients = pd.concat(frames, ignore_index=True)

In [20]:
nutrients[:4]

                   description        group units  value    id
0                      Protein  Composition     g  25.18  1008
1            Total lipid (fat)  Composition     g  29.20  1008
2  Carbohydrate, by difference  Composition     g   3.06  1008
3                          Ash        Other     g   3.28  1008